@charset "UTF-8";
@media screen and (max-width:600px) {
  /* 画面サイズが600px以下の場合に適用 */
  
}

#index h1 {
  font-size: 100px;
  line-height: 1;
  color: #bdb76b;
  font-family: 'Bitter', serif;
  margin-bottom: 50px;
  border: none;
  display: none;
  text-align: center;
}

#index .content {
  margin-top: 150px;
}

#index .whats-new {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 28px;
  border-radius: 10px;
  margin-top: 50px;
}

.btn a {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bitter', serif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  border: 3px solid #009cd3;
  box-shadow: 0 0 0 #000;
  position: relative;
  top: 0;
  left: 0;
  margin: 20px auto 0;
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
}

#index {
  background-image: url(../img/20180812_03.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* .main-center {
  width: 940px;
  margin: 0 auto;
} */

#index #wrap {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

#photograph {
  background-image: url(../img/bg-photograph.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#photograph .photograph-list li {
  float: left;
  list-style: none;
  margin: 0 20px 15px 0;
}

#photograph .photograph-list li:nth-child(2n) {
  margin-right: 0;
}

#video {
  background-image: url(../images/bg-video.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#contact {
  background-image: url(../images/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#contact .access table {
  float: left;
}

#contact .access th,
#contact .access td {
  text-align: left;
  vertical-align: top;
  line-height: 2.5;
}

#contact .access td {
  padding-left: 30px;
}

#contact .access iframe {
  width: 460px;
  float: right;
}

#contact .form {
  background-color: #eaeaea;
  padding: 30px 50px;
}

#contact .form dl dt {
  width: 165px;
  padding: 10px 0;
  float: left;
  clear: both;
}

#contact .form dl dd {
  padding: 10px 0;
}

#contact .form .name {
  width: 240px;
  height: 30px;
}

#contact .form .email {
  width: 300px;
  height: 30px;
}

#contact .form .tel {
  width: 240px;
  height: 30px;
}

#contact .form .type {
  width: 180px;
  height: 30px;
}

#contact .form .message {
  width: 660px;
  height: 150px;
}

#contact .form button {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  width: 120px;
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  border: 3px solid #009cd3;
  margin-left: 165px;
}

#contact .form button:hover {
  background-color: #ffffff;
  color: #009cd3;
  cursor: pointer;
}

#contact .form .required:after {
  content: ' * ';
  color: #ff0000;
}

#contact .form .attention {
  margin: 20px 0 0 165px;
}